{% extends "layout.html" %}
{% block content %}
<div id="frmMenu">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header-primary" style="font-size: .98em;">Exercises</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <a href="/ex01">
                <div class="panel-footer">
                    <span class="pull-left">Exercise No 1</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <a href="/ex02">
                <div class="panel-footer">
                    <span class="pull-left">Exercise No 2</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <a href="/ex03">
                <div class="panel-footer">
                    <span class="pull-left">Exercise No 3</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <a href="/ex04">
                <div class="panel-footer">
                    <span class="pull-left">Exercise No 4</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <a href="/ex05">
                <div class="panel-footer">
                    <span class="pull-left">Exercise No 5</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <a href="/ex06">
                <div class="panel-footer">
                    <span class="pull-left">Exercise No 6</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <a href="/ex07">
                <div class="panel-footer">
                    <span class="pull-left">Exercise No 7</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <a href="/ex08">
                <div class="panel-footer">
                    <span class="pull-left">Exercise No 8</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header-primary" style="font-size: .98em;">ML5 Exercises</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <a href="/ml01">
                <div class="panel-footer">
                    <span class="pull-left">Exercise No 1</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <a href="/ml02">
                <div class="panel-footer">
                    <span class="pull-left">Exercise No 2</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <a href="/ml03">
                <div class="panel-footer">
                    <span class="pull-left">Exercise No 3</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <a href="/ml04">
                <div class="panel-footer">
                    <span class="pull-left">Exercise No 4</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <a href="/ml05">
                <div class="panel-footer">
                    <span class="pull-left">Exercise No 5</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <a href="/ml06">
                <div class="panel-footer">
                    <span class="pull-left">Exercise No 6</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <a href="/ml07">
                <div class="panel-footer">
                    <span class="pull-left">Exercise No 7</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <a href="/ml08">
                <div class="panel-footer">
                    <span class="pull-left">Exercise No 8</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>    
</div>
{% endblock %}